<div class="app-container">
    <client-side-project-header></client-side-project-header>
    <router-outlet></router-outlet>
    <client-side-project-footer></client-side-project-footer>
</div>




<!-- TODO:
Add Name to gallery

Add Name to artwork

Friend Recommendations

Visual
-->





<!-- 
TODO: VISUAL



when user delete - Delete list
when user delte - remove from gallery


admin can delete gallery

remove artwork from list

remove friends
kan niet meerdere keren 1 vriend toevoegen

//todo nav bar refresh

see friends names instead of id 




instead of liking artwork -> follow gallery?
when deleting artwork from gallery -> also delete from list?
-->




<!-- 
TODO:
Check alle Interfaces op datatypen
Auth Guards -> misschien
Schermen mooi maken
Friends bij IUSer
Aanbevelingen - Neo4J

CICD -> Branche
Foutmeldingen voor User
Tests -> UnitTest & ServiceTest   (E2E voor een read scenario??)
Data Integratie -> Validatie
 -->

<!-- 
PROP toevoegen aan schema? -> meer uitbreiding op schema

hash wachtwoord?
-->





<!-- 
    authorization op routing zetten -> authguard?
    authorization op api zetten

add artworks to user profile?

-->


<!-- recommendation:
User A volgt user B
User B krijgt recommendations over artworks van user A


je kan ook via verbanden doen
kijken wie dezelfde likes heeft, recommend hun likes
-->

<!-- 
artworks
LIKE ARTWORK

add validation to CRUD

add loading to all items


list
ALL
ADD LIST TO DB

check why azure db connection not working
-->