<div class="app-container">
    <client-side-project-header></client-side-project-header>
    <router-outlet></router-outlet>
    <client-side-project-footer></client-side-project-footer>
</div>


<!-- recommendation:
User A volgt user B
User B krijgt recommendations over artworks van user A


je kan ook via verbanden doen
kijken wie dezelfde likes heeft, recommend hun likes
-->

<!-- 
artworks
EDIT ARTWORK
DELETE ARTWORK
LIKE ARTWORK

ARTWORK NOT UPDATING
CHECK FOR ARTWORK OF OTHER USERS


list
ALL
ADD LIST TO DB


wrong cred -> cant login

check why azure db connection not working
-->